# Exercises
Make a file named `pandas_series.py` or `pandas_series.ipynb` for the following exercises.

In [17]:
import pandas as pd
import numpy as np
import math

from colorama import init, Fore, Back, Style
def fancify(text, fancy=Style.BRIGHT):
    return f'{fancy}{str(text)}{Style.RESET_ALL}'
def print_title(text):
    return print(fancify(fancify(text, Fore.BLUE)) + '\n')

1. Use pandas to create a Series from the following data:

`["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]`

In [21]:
task_1a=('1.a. Name the variable that holds the series fruits.')

In [69]:
print_title(task_1a)

fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", 
                    "honeycrisp apple", "tomato", "watermelon", "honeydew", 
                    "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", 
                    "gooseberry", "papaya"])
print(fruits)

1.a. Name the variable that holds the series fruits.

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [23]:
task_1b = '1.b. Run .describe() on the series to see what describe returns for a series of strings.'

In [24]:
print_title(task_1b)
print(fruits.describe())

1.b. Run .describe() on the series to see what describe returns for a series of strings.

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [26]:
task_1c = '1.c. Run the code necessary to produce only the unique fruit names.'

In [218]:
print_title(task_1c)

fruit_names = pd.Series(fruits.unique())

print(fruit_names)

1.c. Run the code necessary to produce only the unique fruit names.

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9            blueberry
10          blackberry
11          gooseberry
12              papaya
dtype: object

In [57]:
task_1d = '1.d. Determine how many times each value occurs in the series.'

In [58]:
print_title(task_1d)

fruit_list = fruits.value_counts()

print(fruit_list)

1.d. Determine how many times each value occurs in the series.

kiwi                4
mango               2
blueberry           1
pineapple           1
tomato              1
watermelon          1
strawberry          1
gooseberry          1
blackberry          1
gala apple          1
papaya              1
honeydew            1
honeycrisp apple    1
dtype: int64

In [31]:
task_1e = '1.e. Determine the most frequently occurring fruit name from the series.'

In [187]:
print_title(task_1e)

print(fruit_list.idxmax())

1.e. Determine the most frequently occurring fruit name from the series.

kiwi

In [34]:
task_1f = '1.f. Determine the least frequently occurring fruit name from the series.'

In [203]:
print_title(task_1f)

least_frequent = fruits.value_counts().min()

print(fruit_list[fruit_list == least_frequent])

1.f. Determine the least frequently occurring fruit name from the series.

blueberry           1
pineapple           1
tomato              1
watermelon          1
strawberry          1
gooseberry          1
blackberry          1
gala apple          1
papaya              1
honeydew            1
honeycrisp apple    1
dtype: int64

In [36]:
task_1g = '1.g .Write the code to get the longest string from the fruits series.'

In [66]:
print_title(task_1g)

print(fruits[fruits.apply(len).idxmax()])

1.g .Write the code to get the longest string from the fruits series.

honeycrisp apple

In [67]:
task_1h = '1.h. Find the fruit(s) with 5 or more letters in the name.'

In [68]:
print_title(task_1h)

print(fruits[fruits.apply(len) > 4])

1.h. Find the fruit(s) with 5 or more letters in the name.

1           strawberry
2                mango
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [ ]:
i. Capitalize all the fruit strings in the series.

In [71]:
print_title(task_1b)

print(fruits.str.capitalize())

1.b. Run .describe() on the series to see what describe returns for a series of strings.

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [73]:
task_1j = '1.j. Count the letter "a" in all the fruits (use string vectorization)'

In [107]:
print_title(task_1j)

print(fruits.apply(lambda x: [x, sum([1 for xc in x if xc.lower() == 'a'])]))

1.j. Count the letter "a" in all the fruits (use string vectorization)

0                 [kiwi, 0]
1                [mango, 1]
2           [strawberry, 1]
3            [pineapple, 1]
4           [gala apple, 3]
5     [honeycrisp apple, 1]
6               [tomato, 1]
7           [watermelon, 1]
8             [honeydew, 0]
9                 [kiwi, 0]
10                [kiwi, 0]
11                [kiwi, 0]
12               [mango, 1]
13           [blueberry, 0]
14          [blackberry, 1]
15          [gooseberry, 0]
16              [papaya, 3]
dtype: object

In [76]:
task_1k = '1.k. Output the number of vowels in each and every fruit.'

In [108]:
print_title(task_1k)

print(fruits.apply(lambda x: [x, sum([1 for xc in x if xc.lower() in 'aeiou'])]))

1.k. Output the number of vowels in each and every fruit.

0                 [kiwi, 2]
1                [mango, 2]
2           [strawberry, 2]
3            [pineapple, 4]
4           [gala apple, 4]
5     [honeycrisp apple, 5]
6               [tomato, 3]
7           [watermelon, 4]
8             [honeydew, 3]
9                 [kiwi, 2]
10                [kiwi, 2]
11                [kiwi, 2]
12               [mango, 2]
13           [blueberry, 3]
14          [blackberry, 2]
15          [gooseberry, 4]
16              [papaya, 3]
dtype: object

In [88]:
task_1l = '1.l. Use the .apply method and a lambda function to find the fruit(s) containing two or more "o" letters in the name.'

In [90]:
print_title(task_1l)

print(fruits[fruits.apply(lambda x: sum([1 for xc in x if xc.lower() == 'o']) > 1)])

1.l. Use the .apply method and a lambda function to find the fruit(s) containing two or more "o" letters in the name.

6         tomato
15    gooseberry
dtype: object

In [109]:
task_1m = '1.m. Write the code to get only the fruits containing "berry" in the name'

In [118]:
print_title(task_1m)

print(fruits[fruits.apply(lambda x: 'berry' in x.lower())])

1.m. Write the code to get only the fruits containing "berry" in the name

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [114]:
task_1n = '1.n. Write the code to get only the fruits containing "apple" in the name'

In [117]:
print_title(task_1n)

print(fruits[fruits.apply(lambda x: 'apple' in x.lower())])

1.n. Write the code to get only the fruits containing "apple" in the name

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [119]:
task_1o = '1.o. Which fruit has the highest amount of vowels'

In [123]:
print_title(task_1o)

print(fruits[fruits.apply(lambda x: sum([1 for xc in x if xc.lower() in 'aeiou'])).idxmax()])

1.o. Which fruit has the highest amount of vowels

honeycrisp apple

2. Use pandas to create a Series from the following data:

`['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']`

In [195]:
Series2 = pd.Series(['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', 
                     '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', 
                     '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', 
                     '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', 
                     '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23'])
Series2.name = 'Series2'
print(Series2)

0       $796,459.41
1           $278.60
2       $482,571.67
3     $4,503,915.98
4      $2,121,418.3
5      $1,260,813.3
6        $87,231.01
7     $1,509,175.45
8     $4,138,548.00
9     $2,848,913.80
10      $594,715.39
11    $4,789,988.17
12     $4,513,644.5
13    $3,191,059.97
14    $1,758,712.24
15    $4,338,283.54
16    $4,738,303.38
17    $2,791,759.67
18      $769,681.94
19      $452,650.23
Name: Series2, dtype: object

In [196]:
task_2a = '2.a What is the data type of the series?'

In [205]:
print_title(task_2a)

print(Series2.dtype)

2.a What is the data type of the series?

object

In [198]:
task_2b = '2.b. Use series operations to convert the series to a numeric data type.'

In [219]:
print_title(task_2b)

amounts = Series2.apply(lambda wrd: float(''.join([ltr for ltr in wrd if ltr in '1234567890.'])))

print(amounts)

2.b. Use series operations to convert the series to a numeric data type.

0      796459.41
1         278.60
2      482571.67
3     4503915.98
4     2121418.30
5     1260813.30
6       87231.01
7     1509175.45
8     4138548.00
9     2848913.80
10     594715.39
11    4789988.17
12    4513644.50
13    3191059.97
14    1758712.24
15    4338283.54
16    4738303.38
17    2791759.67
18     769681.94
19     452650.23
Name: Series2, dtype: float64

In [130]:
task_2c = '2.c. What is the maximum value? The minimum?'

In [220]:
print_title(task_2c)

print(f'Minimum value = {Fore.GREEN}${amounts.min():>12.2f}{Style.RESET_ALL}')
print(f'Maximum value = {Fore.GREEN}${amounts.max():>12.2f}{Style.RESET_ALL}')

2.c. What is the maximum value? The minimum?

Minimum value = $      278.60
Maximum value = $  4789988.17

In [132]:
task_2d = '2.d. Bin the data into 4 equally sized intervals and show how many values fall into each bin.'

In [223]:
print_title(task_2d)

amount_bins = pd.cut(amounts, 4)

print(amount_bins)
print_title('Counts by bin')
print(amount_bins.value_counts())

2.d. Bin the data into 4 equally sized intervals and show how many values fall into each bin.

0        (-4511.11, 1197705.993]
1        (-4511.11, 1197705.993]
2        (-4511.11, 1197705.993]
3      (3592560.778, 4789988.17]
4     (1197705.993, 2395133.385]
5     (1197705.993, 2395133.385]
6        (-4511.11, 1197705.993]
7     (1197705.993, 2395133.385]
8      (3592560.778, 4789988.17]
9     (2395133.385, 3592560.778]
10       (-4511.11, 1197705.993]
11     (3592560.778, 4789988.17]
12     (3592560.778, 4789988.17]
13    (2395133.385, 3592560.778]
14    (1197705.993, 2395133.385]
15     (3592560.778, 4789988.17]
16     (3592560.778, 4789988.17]
17    (2395133.385, 3592560.778]
18       (-4511.11, 1197705.993]
19       (-4511.11, 1197705.993]
Name: Series2, dtype: category
Categories (4, interval[float64]): [(-4511.11, 1197705.993] < (1197705.993, 2395133.385] < (2395133.385, 3592560.778] < (3592560.778, 4789988.17]]
Counts by bin

(-4511.11, 1197705.993]       7
(3592560.778, 4789988.17]     6
(1197705.993, 2395133.385]    4
(2395133.385, 3592560.778]    3
Name: Series2, dtype: int64

In [134]:
task_2e = '2.e. Plot a histogram of the data. Be sure to include a title and axis labels.'

In [135]:
print_title(task_1e)

1.e. Determine the most frequently occurring fruit name from the series.

3. Use pandas to create a Series from the following exam scores:

`[60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]`

In [146]:
Series3 = pd.Series([60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78])
Series3.name = 'Series3'
print(Series3)

0     60
1     86
2     75
3     62
4     93
5     71
6     60
7     83
8     95
9     78
10    65
11    72
12    69
13    81
14    96
15    80
16    85
17    92
18    82
19    78
Name: Series3, dtype: int64

In [147]:
task_3a = '3.a What is the minimum exam score? The max, mean, median?'

In [148]:
print_title(task_3a)

3.a What is the minimum exam score? The max, mean, median?

In [149]:
task_3b = '3.b. Plot a histogram of the scores.'

In [150]:
print_title(task_3b)

3.b. Plot a histogram of the scores.

In [168]:
task_3c = "3.c. Convert each of the numbers above into a letter grade. \n"\
    "For example, 86 should be a 'B' and 95 should be an 'A'."

In [169]:
print_title(task_3c)

3.c. Convert each of the numbers above into a letter grade.
For example, 86 should be a 'B' and 95 should be an 'A'.

In [174]:
task_3d = '3.d Write the code necessary to implement a curve. I.e. that grade \n'\
    'closest to 100 should be converted to a 100, and that many points \n'\
    'should be given to every other score as well.'

In [175]:
print_title(task_3d)

3.d Write the code necessary to implement a curve. I.e. that grade
closest to 100 should be converted to a 100, and that many points
should be given to every other score as well.

4. Use pandas to create a Series from the following string:

`'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'`

In [176]:
Series4 = pd.Series('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy')
print(Series4)

0    hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyf...
dtype: object

In [177]:
task_4a = '4.a. What is the most frequently occuring letter? Least frequently occuring?'

In [178]:
print_title(task_4a)

4.a. What is the most frequently occuring letter? Least frequently occuring?

In [179]:
task_4b = '4.b. How many vowels are in the list?'

In [180]:
print_title(task_4b)

4.b. How many vowels are in the list?

In [181]:
task_4c = '4.c. How many consonants are in the list?'

In [182]:
print_title(task_4c)

4.c. How many consonants are in the list?

In [183]:
task_4d = '4.d. Create a series that has all of the same letters, but uppercased'

In [186]:
print_title(task_4d)

4.d. Create a series that has all of the same letters, but uppercased

In [184]:
task_4e = '4.e. Create a bar plot of the frequencies of the 6 most frequently occuring letters.'

In [185]:
print_title(task_4e)

4.e. Create a bar plot of the frequencies of the 6 most frequently occuring letters.